{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Liste des entreprises</h1>
            <hr>
            <a href="{{ path('entreprise.create') }}" class="btn btn-primary">Ajouter une entreprise</a>
            <table class="table table-striped table-md table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entreprise in entreprises %}
                        <tr>
                            <td>{{ entreprise.name }}</td>
                            <td>
                                <a href="{{ path('entreprise.edit', {id: entreprise.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                                <form method="post" action="{{ path('entreprise.delete',{id: entreprise.id })}}"
                                    style="display:inline-block" onSubmit="return confirm('Etes vous sur de supprimer cet entreprise ?')")>
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprise.id)}}"/>
                                    <button class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
