{{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                 <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.phone) }}
                </div>
                 <div class="col-md-6">
                    {{ form_row(form.sexe) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary btn-md">Valider</button>

{{ form_end(form) }}